<div class="punch-border" id="clockArea">
  <p class="punch-text"><%= @clock_record.clocked_in ? 'Hi' : 'Bye' %>, <%= @employee.first_name %> <%= @employee.last_name %>. You'successfully clocked <%= @clock_record.clocked_in ? 'in' : 'out' %>. Today you worked: <%= @employee.today_hours %>.</p>
</div>

<% if @employee.is_admin? %>
  <div class="punch-border" id="usersArea">
    <% @all_employees.each do |e| %>
      <%= e.first_name %> | <%= e.last_name %> | <%= e.seven_days_hours %>
    <% end %>
  </div>
<% end %>
